
* {
    margin: 10px;
    padding: 3px;
    box-sizing: border-box;
}

body {
    background-color: #ffd9e3; 
    text-align: center; 
}

/* Style <p> elements */
p {
    font-size: 30px; 
    font-weight: bold; 
}


/* Style input field */
input[type="number"] {
    width: 100px; 
    padding: 10px; 
    font-size: 18px; 
}

/* Style button */
button {
    background-color: #a2cffe; 
    color: white; 
    padding: 10px 20px; 
    font-size: 18px; 
    border: none; 
    cursor: pointer; 
}

/*#cellContainer p {
    text-align: right; 
    margin: 0; /* top margin
} */

/*Align list of questions*/
#questions-container {
    text-align: right; 
    margin: 10px 20px; 
}

/*Space between questions*/
#questions-container p {
    margin: 10px 0; 
}

/*Styling the image*/
img#cellImage {
    float: left;
    margin: 20px 0; 
    width: 50%; 
    max-width: 600px; 
    height: auto; 
    max-height: 600px; 
}

/*style both buttons*/
#back-to-main-button-container {
    position: fixed; 
    bottom: 5px; 
    left: 10px; 
}

#next-button-container {
    position: fixed; 
    bottom: 10px; 
    right: 10px; 
}



