/* Apply pink background color to body */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffd9e3; 
    text-align: center; 
}

/* Style <p> elements */
p {
    font-size: 24px; 
    font-weight: bold; 
}

/* Style input field */
input[type="number"] {
    width: 100px; 
    padding: 10px; 
    font-size: 18px; 
}

/* Style button */
button {
    background-color: #a2cffe; 
    color: white; 
    padding: 10px 20px; 
    font-size: 18px; 
    border: none; 
    cursor: pointer; 
}

/* Style container div */
#cellContainer p {
    text-align: center; 
    margin: 0; /* top margin*/
}

/* Style the images */
img#cellImage {
    display: block; /* Make image a block element for centering */
    margin: 20px auto; 
    max-width: 100%; /* Inages cannot exceed container */
    height: auto; /* Maintain aspect ratio for images */
    width: 700px; 
    max-height: 700px; 
}

#back-to-main-button-container {
    position: fixed; /* Position is fixed, stays in place when scrolled */
    bottom: 10px; /* Control the vertical position */
    left: 10px; /* Control the horizontal position */
}

#next-button-container {
    position: fixed; /*Position is fixed, stays in place when scrolled */
    bottom: 10px; /* Control the vertical position */
    right: 10px; /* Control the horizontal position */
}



