/* Apply blue background color to the body*/
body {
    background-color: #a2cffe; 
    text-align: center; /* Center-align text */
    font-size: 24px; 
}

/* Style the <h1> elements */
h1 {
    font-size: 36px; /*Heading font size*/
    margin: 20px 0; /* Margin to top and bottom of headings */
    text-align: center; /* Center-align text */
}

/* Style buttons */
button {
    background-color: #ffd9e3; 
    color: #000; /* For text */
    padding: 15px 30px; 
    font-size: 24px; 
    border: none; 
    cursor: pointer; /* Change cursor when you hover */
    margin: 10px; /*Margin around the buttons */
}

/* Style hyperlink */
p a {
    text-decoration: none; /* Remove underline*/
    color: #810c5e; /*Hyperlink colour*/
    font-size: 24px; 
}
