
body {
    background-color: #a2cffe; 
    text-align: center; 
    font-size: 24px; 
}

/* Style the <h1> elements */
h1 {
    font-size: 36px; 
    margin: 20px 0; 
    text-align: center; 
}

/* Style buttons */
button {
    background-color: #ffd9e3; 
    color: #000; 
    padding: 15px 30px; 
    font-size: 24px; 
    border: none; 
    cursor: pointer; 
    margin: 10px; 
}

/* Style hyperlink */
p a {
    text-decoration: none; 
    color: #810c5e; 
    font-size: 24px; 
}
